:vars {
  lipHeight: 2px;
  bruceBodyColor: rgb(228, 228, 228);
}
.root {
  position: relative;
}

.mouthBox {
  max-width: 50%;
  -st-states: mood( enum(happy, sad) );
  margin: 0 auto;
  padding: 0;
  overflow: hidden;
}

.mouthBox:mood(happy)::lip {
  height: 20px;
}

.lip {
  /* border: 1px solid #000; */
  background: #808080;
  height: value(lipHeight);
  width: 100%;
  transition: 225ms ease-in;
  margin-bottom: 1px;
}


.upperLip {
  -st-extends: lip;
}

/* .upperLip::before {
  position: relative;
  display: block;
  text-align: center;
  background: value(bruceBodyColor);
  width: 40px;
  height: value(lipsHeight);
  border-radius: 40% 25% 45% 25%;
  margin: 0 auto;
  content: ' ';
  top: -45px;
} */

.lowerLip {
  -st-extends: lip;
  -st-states: mood( enum(happy, sad) );
}

.lowerLip:mood(happy) {
  top: 35px;
  /* border: 5px solid rgba(255,25, 0, 0.8); */
}