:import {
  -st-from: "../colors.st.css";
  -st-named: dark;
}

:vars {
  lipHeight: 2px;
}

.root {
  position: relative;
  width: 100%;
}

.mouthBox {
  max-width: 50%;
  margin: 50px auto 0;
  padding: 0;
  overflow: hidden;
}

.lip {
  background: value(dark);
  height: value(lipHeight);
  transition: 225ms ease-in;
}

.upperLip {
  -st-extends: lip;
}

.lowerLip {
  -st-extends: lip;
}
