:import {
  -st-from: "../colors.st.css";
  -st-named: dark;
}

:vars {
  lipHeight: 2px;
}

.root {
  position: relative;
}

.mouthBox {
  max-width: 50%;
  -st-states: mood( enum(happy, sad) );
  margin: 0 auto;
  padding: 0;
  overflow: hidden;
}

.mouthBox:mood(happy)::lip {
  height: 20px;
}

.lip {
  background: value(dark);
  height: value(lipHeight);
  width: 100%;
  transition: 225ms ease-in;
  /* margin-bottom: 1px; */
}

.upperLip {
  -st-extends: lip;
  -st-states: mood( enum(happy, sad) );
}

.lowerLip {
  -st-extends: lip;
  -st-states: mood( enum(happy, sad) );
}

.upperLip:mood(happy)  {
  opacity: 0;  
}

.lowerLip:mood(happy) {
  height: 180px;
  width: 200px;
  margin: 0 auto;
  border-top-left-radius: 0;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  overflow: hidden;
  position: relative;
}

.lowerLip:mood(happy)::after {
  content: 'x';
  height: 50px;
  width: 100px;
  margin: 0 auto;
  background: #c00;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100px;
  border-top-left-radius: 50%;
}
