:import {
  -st-from: "./../colors.st.css";
  -st-named: color2, dark, bodyColor;
}

:import {
  -st-from: "./../eye/index.st.css";
  -st-default: Eye;
}

:import {
  -st-from: "./../mouth/index.st.css";
  -st-default: Mouth;
}

.root {
  -st-states: mood( enum(happy, sad, glasses) );  
  overflow: hidden;
}

.hero {}

.eyes {}

.eye {
  -st-extends: Eye;
}

.mouth {
  -st-extends: Mouth;
}
