.eye3847936181--root {}

.eye3847936181--brow {
  top: 0;
  position: relative;
  height: 1px;
  border: 10px solid #000;
  border-top: 1px dashed rgb(228, 228, 228);
  border-radius: 20%;
  background-color: rgba(0, 0, 0, 0.8);
  transition: all 125ms ease-in-out;
}

.eye3847936181--socket {
  position: relative;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  line-height: 100px;
  overflow: hidden;
  background: rgba(255, 255, 255, 1);
}

.eye3847936181--pupil {
  color: #000;
}

.eye3847936181--pupil::after {
  content: '\2022'; /* 👁🥔💰🍌🐸🤘🔥 */
  display: block;
  text-align: center;
  transition: all 325ms ease-in;
  font-size: 150px;
}

.eye3847936181--lid {
  position: absolute;
  transition: all 125ms ease-in-out;  
  top: -100px;
  width: 100px;
  height: 100px;
}

.mouth2009122231--root {
  position: relative;
  width: 50%;
  margin-top: 20px;
}

.mouth2009122231--lip {
  background: #000;
  height: 2px;
  transition: 225ms ease-in;
}

.mouth2009122231--upperLip.mouth2009122231--lip {
  -st-extends: lip;
}

.mouth2009122231--tongue {

}

.mouth2009122231--lowerLip.mouth2009122231--lip {
  -st-extends: lip;  
}

.potato1983869502--root {
  -st-states: mood( enum(happy, shy, dealWithIt) ), size( enum(small, big) );
  border: 10px solid #000;
  border-radius: 50%;
  background: #f0f0f0;
}

/* empty classes serve as an exposed interface that can be customized externally */
.potato1983869502--top {}
.potato1983869502--top::after {}

.potato1983869502--eyes {}
.potato1983869502--eye.eye3847936181--root {
  -st-extends: Eye;
  -st-states: position( enum(left, right) );  
}

.potato1983869502--mouth.mouth2009122231--root {
  -st-extends: Mouth;
}

.navbar2391070439--root {
  -st-states: mood( enum(happy, shy, dealWithIt) ),
              size( enum(small, big) ),
              backdrop( enum(amsterdam, paris, wixhq) );

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  height: 60px;
  text-align: center;
  z-index: 1000;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
  display: flex;
}
.navbar2391070439--nav {
  width: 100%;
  display: flex;
}

.navbar2391070439--navButton {
  user-select: none;
  text-transform: uppercase;
  height: 60px;
  line-height: calc(60px / 2);
  border: none;
  background: none;
  font-size: 14px;
  outline: 0;
  cursor: pointer;
  flex: 1 0;
  transition: all 125ms ease-in;
  font-size: 1.5rem;
}

.navbar2391070439--buttonGroup {
  flex: 1;
  display: flex;
}

.navbar2391070439--navButton:hover {
  background: rgba(184, 255, 189, 0.8);
}

.navbar2391070439--buttonGroup:hover {
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.25);
}

.navbar2391070439--resetAllButton.navbar2391070439--navButton {
  -st-extends: navButton;
}
.navbar2391070439--isHappy.navbar2391070439--navButton {
  -st-extends: navButton;
}
.navbar2391070439--isShy.navbar2391070439--navButton {
  -st-extends: navButton;
}
.navbar2391070439--isGlasses.navbar2391070439--navButton {
  -st-extends: navButton;
}
.navbar2391070439--smallSize.navbar2391070439--navButton {
  -st-extends: navButton;
  font-size: 1em;
}
.navbar2391070439--largeSize.navbar2391070439--navButton {
  -st-extends: navButton;
}
.navbar2391070439--inParis.navbar2391070439--navButton {
  -st-extends: navButton;
}
.navbar2391070439--inAmsterdam.navbar2391070439--navButton {
  -st-extends: navButton;
}
.navbar2391070439--inWix.navbar2391070439--navButton {
  -st-extends: navButton;
}

.navbar2391070439--active {
  box-shadow: inset 0 -5px 0 0px rgba(255, 0, 0, 0.8);
}
.navbar2391070439--inactive {
  box-shadow: inset 0 0 0 0 rgba(0, 0, 0, 0);
}

.navbar2391070439--root[data-navbar2391070439-mood="happy"] .navbar2391070439--nav .navbar2391070439--resetAllButton,.navbar2391070439--root[data-navbar2391070439-mood="shy"] .navbar2391070439--nav .navbar2391070439--resetAllButton,.navbar2391070439--root[data-navbar2391070439-mood="dealWithIt"] .navbar2391070439--nav .navbar2391070439--resetAllButton {
  box-shadow: inset 0 0 0 0 rgba(0, 0, 0, 0);
}

.navbar2391070439--root .navbar2391070439--nav .navbar2391070439--resetAllButton {
  box-shadow: inset 0 -5px 0 0px rgba(255, 0, 0, 0.8);
}

.navbar2391070439--root[data-navbar2391070439-mood="happy"] .navbar2391070439--nav .navbar2391070439--isHappy,.navbar2391070439--root[data-navbar2391070439-mood="shy"] .navbar2391070439--nav .navbar2391070439--isShy,.navbar2391070439--root[data-navbar2391070439-mood="dealWithIt"] .navbar2391070439--nav .navbar2391070439--isGlasses,.navbar2391070439--root[data-navbar2391070439-backdrop="paris"] .navbar2391070439--nav .navbar2391070439--inParis,.navbar2391070439--root[data-navbar2391070439-backdrop="amsterdam"] .navbar2391070439--nav .navbar2391070439--inAmsterdam,.navbar2391070439--root[data-navbar2391070439-backdrop="wixhq"] .navbar2391070439--nav .navbar2391070439--inWix,.navbar2391070439--root[data-navbar2391070439-size="small"] .navbar2391070439--nav .navbar2391070439--smallSize,.navbar2391070439--root[data-navbar2391070439-size="big"] .navbar2391070439--nav .navbar2391070439--largeSize {
  box-shadow: inset 0 -5px 0 0px rgba(255, 0, 0, 0.8);
}

/* 
  DEFAULT STYLE 
*/
.app220887333--root {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.app220887333--potatoBruce.potato1983869502--root {
  -st-extends: Potato;
  position: relative;
  display: flex;
  flex: 1;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin: 10% 0;
  min-height: 500px;
  max-width: 525px;
  transition: 125ms ease-in-out;
}
.app220887333--potatoBruce.potato1983869502--root[data-potato1983869502-size="small"] {
  transform: scale(0.3);
}
.app220887333--potatoBruce.potato1983869502--root[data-potato1983869502-size="big"] {
  transform: scale(0.7);
}
.app220887333--potatoBruce.potato1983869502--root .potato1983869502--eyes {
  width: 100%;
  text-align: center;
}
.app220887333--potatoBruce.potato1983869502--root .potato1983869502--eye {
  display: inline-block;
  margin: 0 20px;
}

/*
  HAPPY POTATO
*/
.app220887333--potatoBruce.potato1983869502--root[data-potato1983869502-mood="happy"] {
  background: url(/static/media/potato-small.f1213de5.png) no-repeat center;
  background-size: cover;
  border-color: transparent;
}
.app220887333--potatoBruce.potato1983869502--root[data-potato1983869502-mood="happy"] .potato1983869502--top {
  position: relative;
  top: -100px;
}
.app220887333--potatoBruce.potato1983869502--root[data-potato1983869502-mood="happy"] .potato1983869502--top::after {
  content: '🔥'; /* 👁🥔💰🍌🐸🤘🔥 */
  font-size: 120px;
  text-shadow: 0 0 0 #000;
  position: relative;
  color: transparent;
  animation-name: app220887333--emoji_color_change;
  animation-duration: 700ms;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
.app220887333--potatoBruce.potato1983869502--root .potato1983869502--eye[data-potato1983869502-position="left"] {
  transform: rotate(0deg);
  top: -20px;
}
.app220887333--potatoBruce.potato1983869502--root[data-potato1983869502-mood="happy"] .potato1983869502--eye[data-potato1983869502-position="right"] .eye3847936181--brow {
  animation: app220887333--twitch1 250ms infinite;
  transform: rotate(0deg);
  top: -20px;
}
.app220887333--potatoBruce.potato1983869502--root[data-potato1983869502-mood="happy"] .potato1983869502--eye .eye3847936181--socket {
  background: none;
}
.app220887333--potatoBruce.potato1983869502--root[data-potato1983869502-mood="happy"] .potato1983869502--eye .eye3847936181--pupil::after {
  content: '👁';
  background: none;
}
.app220887333--potatoBruce.potato1983869502--root[data-potato1983869502-mood="happy"] .potato1983869502--mouth {
  position: relative;
  height: 180px;
  width: 200px;
  margin: 0 auto;
  background: #000;
  border-top-left-radius: 0;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  overflow: hidden;
}
.app220887333--potatoBruce.potato1983869502--root[data-potato1983869502-mood="happy"] .potato1983869502--mouth .mouth2009122231--upperLip {
  display: none;
}
.app220887333--potatoBruce.potato1983869502--root[data-potato1983869502-mood="happy"] .potato1983869502--mouth .mouth2009122231--tongue {
  position: absolute;
  height: 100px;
  width: 100%;
  margin: 0 auto;
  bottom: 0;
  right: 0;
  background: #c00;
  border-top-left-radius: 50%;
}

/*
  SHY POTATO
*/
.app220887333--potatoBruce.potato1983869502--root[data-potato1983869502-mood="shy"] {
  background: url(/static/media/potato-small.f1213de5.png) no-repeat center;
  background-size: cover;
  border-color: transparent;
}
.app220887333--potatoBruce.potato1983869502--root[data-potato1983869502-mood="shy"] .potato1983869502--top {
  -webkit-mask: url(/static/media/mohawk.871df20e.svg) no-repeat center;
  mask: url(/static/media/mohawk.871df20e.svg) no-repeat center;
  position: absolute;
  top: 122px;
  height: 250px;
  width: 200px;
  margin-top: -265px;
  background-color: green;
}
.app220887333--backdrop[data-app220887333-in="paris"] ~ .app220887333--potatoBruce.potato1983869502--root[data-potato1983869502-mood="shy"] .potato1983869502--top {
  animation-name: app220887333--background_change;
  animation-duration: 2700ms;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
.app220887333--backdrop[data-app220887333-in="amsterdam"] ~ .app220887333--potatoBruce.potato1983869502--root[data-potato1983869502-mood="shy"] .potato1983869502--top {
  animation-name: app220887333--background_change;
  animation-duration: 2700ms;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
.app220887333--potatoBruce.potato1983869502--root[data-potato1983869502-mood="shy"] .potato1983869502--eye[data-potato1983869502-position="left"] .eye3847936181--brow {
  animation: app220887333--twitch1 250ms infinite;
  transform: rotate(-15deg);
  top: -20px;
}
.app220887333--potatoBruce.potato1983869502--root[data-potato1983869502-mood="shy"] .potato1983869502--eye[data-potato1983869502-position="right"] .eye3847936181--brow {
  transform: rotate(15deg);
  top: -5px;
}
.app220887333--potatoBruce.potato1983869502--root[data-potato1983869502-mood="shy"] .potato1983869502--eye .eye3847936181--socket {
  overflow: hidden;
}
.app220887333--potatoBruce.potato1983869502--root[data-potato1983869502-mood="shy"] .potato1983869502--eye .eye3847936181--pupil {
  line-height: calc(75px * 2);
  font-size: 50px;
}
.app220887333--potatoBruce.potato1983869502--root[data-potato1983869502-mood="shy"] .potato1983869502--eye .eye3847936181--pupil::after {
  content: '●';
  zoom: 1;
  text-shadow: none;
  color: rgb(22, 38, 180);
}
.app220887333--potatoBruce.potato1983869502--root[data-potato1983869502-mood="shy"] .potato1983869502--eye[data-potato1983869502-position="left"] .eye3847936181--pupil::after {
  position: absolute;
  left: 15px;
}
.app220887333--potatoBruce.potato1983869502--root[data-potato1983869502-mood="shy"] .potato1983869502--eye[data-potato1983869502-position="right"] .eye3847936181--pupil::after {
  position: absolute;
  right: 15px;
}
.app220887333--potatoBruce.potato1983869502--root[data-potato1983869502-mood="shy"] .potato1983869502--mouth {
  position: relative;
  height: 85px;
  width: 200px;
  margin: 15px auto;
  background: #000;
  border-top-left-radius: 0;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  overflow: hidden;
}
.app220887333--potatoBruce.potato1983869502--root[data-potato1983869502-mood="shy"] .potato1983869502--mouth .mouth2009122231--upperLip {
  display: none;
}
.app220887333--potatoBruce.potato1983869502--root[data-potato1983869502-mood="shy"] .potato1983869502--mouth .mouth2009122231--tongue {
  position: absolute;
  width: 100%;
  height: 35px;
  bottom: 0;
  right: 0;
  margin: 0 auto;
  background: #c00;
  border-top-left-radius: 50%;
} 

/*
  DEAL-WITH-IT POTATO
*/
.app220887333--potatoBruce.potato1983869502--root[data-potato1983869502-mood="dealWithIt"] {
  background: url(/static/media/potato-small.f1213de5.png) no-repeat center;
  background-size: cover;
  border-color: transparent;
}
.app220887333--potatoBruce.potato1983869502--root[data-potato1983869502-mood="dealWithIt"] .potato1983869502--eyes {
  position: relative;
  background: url(/static/media/glasses.f898d367.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.app220887333--potatoBruce.potato1983869502--root[data-potato1983869502-mood="dealWithIt"] .potato1983869502--eye .eye3847936181--socket {
  margin-top: 20px;
  background: none;
}
.app220887333--potatoBruce.potato1983869502--root[data-potato1983869502-mood="dealWithIt"] .potato1983869502--eye .eye3847936181--pupil::after {
  display: none;
}

/* Backdrop Image */
.app220887333--backdrop {
  -st-states: in( enum(amsterdam, paris, wixhq) );
  position: fixed;
  top: 60px;
  left: 0;
  width: 100%;
  height: calc(100% - 60px);
  background-color: #eee;
  background-image: linear-gradient(45deg, rgb(228, 228, 228) 25%, transparent 25%, transparent 75%, rgb(228, 228, 228) 75%, rgb(228, 228, 228)), 
  linear-gradient(45deg, rgb(228, 228, 228) 25%, transparent 25%, transparent 75%, rgb(228, 228, 228) 75%, rgb(228, 228, 228));
  background-size: 30px 30px;
  background-position: 0 0, 15px 15px;
}
.app220887333--backdrop[data-app220887333-in="paris"] {
  background: url(/static/media/paris.9aa0a42d.jpg) no-repeat center;
  background-size: cover;
}
.app220887333--backdrop[data-app220887333-in="amsterdam"] {
  background: url(/static/media/amsterdam.616b69dd.jpg) no-repeat center;
  background-size: cover;
}
.app220887333--backdrop[data-app220887333-in="wixhq"] {
  background: url(/static/media/wixhq.0e636f07.jpg) no-repeat center;
}

/* 
  Keyframes
*/
@keyframes app220887333--twitch1 {
  5% {
    left: -1px;
  }
  50% {
    left: 4px;
  }
  95% {
    left: 0;
  }
}

@keyframes app220887333--background_change {
  0%   { background-color: #ff0000; }
  15%  { background-color: #ff6600; }
  30%  { background-color: #ffee00; }
  45%  { background-color: #00ff00; }
  60%  { background-color: #0000ff; }
  75%  { background-color: #4400ff; }
  100% { background-color: #9900ff; }; 
}

@keyframes app220887333--emoji_color_change {
  0%   { text-shadow: 0 0 0 green;   }
  15%  { text-shadow: 0 0 0 #ff6600; }
  30%  { text-shadow: 0 0 0 #ffee00; }
  45%  { text-shadow: 0 0 0 #00ff00; }
  60%  { text-shadow: 0 0 0 #0000ff; }
  75%  { text-shadow: 0 0 0 #4400FF; }
  100% { text-shadow: 0 0 0 #9900FF; }; 
}


/* 
  Footer
*/
.app220887333--siteFooter {
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
  position: fixed;
  bottom: 0;
  height: 40px;
  line-height: 40px;
  left: 0;
  text-align: center;
  width: 100%;
  font-size: 0.8rem;
  background: rgba(255, 255, 255, 0.9);
}
.app220887333--stylableLogo {
  margin: 0 0.5rem;
  vertical-align: middle;
  display: inline-block;
  width: 25px;
  height: 25px;
  background: url(/static/media/stylable-logo.a2b412b5.png) no-repeat center;
  background-size: contain;
}
.app220887333--githubLogo {
  margin: 0 0.5rem;
  vertical-align: middle;
  display: inline-block;
  width: 25px;
  height: 25px;
  background: url(/static/media/github-logo.9ac279f9.png) no-repeat center;
  background-size: contain;
}


body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
