@st-import Eye from "./eye/eye.st.css";

@st-import Mouth from "./mouth/mouth.st.css";

.root {
  -st-states: mood(enum(happy, shy, dealWithIt)), size(enum(small, big));
  border: 10px solid #000;
  border-radius: 50%;
  background: #f0f0f0;
}

/* empty classes serve as an exposed interface that can be customized externally */
.top {}

.top::after {}

.eyes {}

.eye {
  -st-extends: Eye;
  -st-states: position(enum(left, right));
}

.mouth {
  -st-extends: Mouth;
}
