:vars {
  retinaSize: 100px;
  negativeRetinaSize: -100px;
  lidResetPosition: value(retinaSize) * -1;
  pupilSize: value(retinaSize) / 2;
  lidPositionHappy: 25px;
  lidPositionSad: 75px;

}

.root {
  position: relative;
  box-shadow: 0 0 0 2px white;
  border-radius: 50%;
  width: value(retinaSize);
  height: value(retinaSize);
  line-height: value(retinaSize);
  overflow: hidden;
  background-color: bisque;
}

.pupil {
  -st-states: direction( enum(up, down, right, left, center) ), 
              mood( enum(happy, sad) ));
  color: darkblue;
}

.pupil::after {
  content: '\25cf';
  display: block;
  text-align: center;
  font-size: calc(value(pupilSize));
}

.pupil:mood(sad) {
  line-height: calc(value(lidPositionSad) * 2);
}

.lid {
  -st-states: mood( enum(happy, sad) );
  position: absolute;
  border-bottom: 1px solid darksalmon;
  top: value(negativeRetinaSize);
  background: darksalmon;
  width: value(retinaSize);
  height: value(retinaSize);
}

.lid:mood(happy) {
  top: calc(value(negativeRetinaSize) + value(lidPositionHappy));
}

.lid:mood(sad) {
  top: calc(value(negativeRetinaSize) + value(lidPositionSad));
}

