:import {
  -st-from: "./colors.st.css";
  -st-named: dark, navBg, tongueColor, blueEyes;
}

:import {
  -st-from: "./potato/potato.st.css";
  -st-default: Potato;
}

:vars {
  negativeRetinaSize: -100px;
  lidPositionShy: 75px;
  navBarHeight: 60px;
}

.root {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.potatoBruce {
  -st-extends: Potato;
  position: relative;
  display: flex;
  flex: 1;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin: 10% 0;
  min-height: 500px;
  max-width: 525px;
  transition: 125ms ease-in-out;
}
.potatoBruce:size(small) {
  transform: scale(0.3);
}
.potatoBruce:size(big) {
  transform: scale(0.7);
}
.potatoBruce::eyes {
  width: 100%;
  text-align: center;
}
.potatoBruce::eye {
  display: inline-block;
  margin: 0 20px;
}

/*
  HAPPY POTATO
*/
.potatoBruce:mood(happy) {
  background: url(../assets/potato-small.png) no-repeat center;
  background-size: cover;
  border-color: transparent;
}
.potatoBruce:mood(happy)::top {
  position: relative;
  top: -100px;
}
.potatoBruce:mood(happy)::eye::pupil::after {
  content: '👁';
  background: none;
}
.potatoBruce:mood(happy)::top::after {
  content: '🔥'; /* 👁🥔💰🍌🐸🤘🔥 */
  font-size: 120px;
  text-shadow: 0 0 0 #000;
  position: relative;
  color: transparent;
  animation-name: emoji_color_change;
  animation-duration: 700ms;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
.potatoBruce:mood(happy)::eye:position(left) {
  transform: rotate(0deg);
  top: -20px;
}
.potatoBruce:mood(happy)::eye:position(right)::brow {
  animation: twitch1 250ms infinite;
  transform: rotate(0deg);
  top: -20px;
}
.potatoBruce:mood(happy)::eye::socket {
  background: none;
}
.potatoBruce:mood(happy)::mouth {
  position: relative;
  height: 180px;
  width: 200px;
  margin: 0 auto;
  background: value(dark);
  border-top-left-radius: 0;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  overflow: hidden;
}
.potatoBruce:mood(happy)::mouth::upperLip {
  display: none;
}
.potatoBruce:mood(happy)::mouth::tongue {
  position: absolute;
  height: 100px;
  width: 100%;
  margin: 0 auto;
  bottom: 0;
  right: 0;
  background: value(tongueColor);
  border-top-left-radius: 50%;
}

/*
  SHY POTATO
*/
.potatoBruce:mood(shy) {
  background: url(../assets/potato-small.png) no-repeat center;
  background-size: cover;
  border-color: transparent;
}
.potatoBruce:mood(shy)::top {
  position: absolute;
  top: 122px;
  height: 250px;
  width: 200px;
  margin-top: -265px;
  -webkit-mask: url(../assets/mohawk.svg) no-repeat center;
  mask: url(../assets/mohawk.svg) no-repeat center;
  background-color: green;
}
.backdrop:in(paris) ~ .potatoBruce:mood(shy)::top {
  animation-name: background_change;
  animation-duration: 2700ms;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
.potatoBruce:mood(shy)::eye:position(left)::brow {
  animation: twitch1 250ms infinite;
  transform: rotate(-15deg);
  top: -20px;
}
.potatoBruce:mood(shy)::eye:position(right)::brow {
  transform: rotate(15deg);
  top: -5px;
}
.potatoBruce:mood(shy)::eye::socket {
  overflow: hidden;
}
.potatoBruce:mood(shy)::eye::pupil {
  line-height: calc(value(lidPositionShy) * 2);
  font-size: 50px;
}
.potatoBruce:mood(shy)::eye::pupil::after {
  content: '●';
  zoom: 1;
  text-shadow: none;
  color: value(blueEyes);
}
.potatoBruce:mood(shy)::eye:position(left)::pupil::after {
  position: absolute;
  left: 15px;
}
.potatoBruce:mood(shy)::eye:position(right)::pupil::after {
  position: absolute;
  right: 15px;
}
.potatoBruce:mood(shy)::mouth {
  position: relative;
  height: 85px;
  width: 200px;
  margin: 15px auto;
  background: value(dark);
  border-top-left-radius: 0;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  overflow: hidden;
}
.potatoBruce:mood(shy)::mouth::upperLip {
  display: none;
}
.potatoBruce:mood(shy)::mouth::tongue {
  position: absolute;
  width: 100%;
  height: 35px;
  bottom: 0;
  right: 0;
  margin: 0 auto;
  background: value(tongueColor);
  border-top-left-radius: 50%;
} 

/*
  DEAL-WITH-IT POTATO
*/
.potatoBruce:mood(dealWithIt) {
  background: url(../assets/potato-small.png) no-repeat center;
  background-size: cover;
  border-color: transparent;
}
.potatoBruce:mood(dealWithIt)::eyes {
  position: relative;
  background: url(../assets/glasses.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.potatoBruce:mood(dealWithIt)::eye::socket {
  margin-top: 20px;
  background: none;
}
.potatoBruce:mood(dealWithIt)::eye::pupil::after {
  display: none;
}

/* Backdrop Image */
.backdrop {
  -st-states: in( enum(paris, wixhq) );
  position: fixed;
  top: value(navBarHeight);
  left: 0;
  width: 100%;
  height: calc(100% - value(navBarHeight));
  background-color: #eee;
  background-image: linear-gradient(45deg, rgb(228, 228, 228) 25%, transparent 25%, transparent 75%, rgb(228, 228, 228) 75%, rgb(228, 228, 228)), 
  linear-gradient(45deg, rgb(228, 228, 228) 25%, transparent 25%, transparent 75%, rgb(228, 228, 228) 75%, rgb(228, 228, 228));
  background-size: 30px 30px;
  background-position: 0 0, 15px 15px;
}
.backdrop:in(paris) {
  background: url(../assets/paris.jpg) no-repeat center;
  background-size: cover;
}
.backdrop:in(wixhq) {
  background: url(../assets/wixhq.jpg) no-repeat center;
}

@keyframes twitch1 {
  5% {
    left: -1px;
  }
  50% {
    left: 4px;
  }
  95% {
    left: 0;
  }
}

@keyframes background_change {
  0%   { background-color: #ff0000; }
  15%  { background-color: #ff6600; }
  30%  { background-color: #ffee00; }
  45%  { background-color: #00ff00; }
  60%  { background-color: #0000ff; }
  75%  { background-color: #4400ff; }
  100% { background-color: #9900ff; }; 
}

@keyframes emoji_color_change {
  0%   { text-shadow: 0 0 0 green;   }
  15%  { text-shadow: 0 0 0 #ff6600; }
  30%  { text-shadow: 0 0 0 #ffee00; }
  45%  { text-shadow: 0 0 0 #00ff00; }
  60%  { text-shadow: 0 0 0 #0000ff; }
  75%  { text-shadow: 0 0 0 #4400FF; }
  100% { text-shadow: 0 0 0 #9900FF; }; 
}

.nav button.resetAllButton:hover {
  background: value(tongueColor);
  color: #fff;
}
.siteTitle {
  font-size: 1rem;
  font-weight: 100;
  line-height: 40px;
  margin-left: 10px;
}
.siteFooter {
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
  position: fixed;
  bottom: 0;
  height: 40px;
  line-height: 40px;
  left: 0;
  text-align: center;
  width: 100%;
  font-size: 0.8rem;
  background: rgba(255, 255, 255, 0.9);
}
.stylableLogo {
  margin: 0 0.5rem;
  vertical-align: middle;
  display: inline-block;
  width: 25px;
  height: 25px;
  background: url(../assets/stylable-logo.png) no-repeat center;
  background-size: contain;
}
.githubLogo {
  margin: 0 0.5rem;
  vertical-align: middle;
  display: inline-block;
  width: 25px;
  height: 25px;
  background: url(../assets/github-logo.png) no-repeat center;
  background-size: contain;
}

button.smallSize {
  font-size: 1rem;
}
button.largeSize {
  font-size: 2rem;
}
