:import {
  -st-from: "./colors.st.css";
  -st-named: dark, navBg;
}
.root {
  height: 100vh;
}

.nav {
  background-color: value(navBg);
  padding: 5px 0;
  text-align: center;
}

.potatoWorld {
  margin: 0 auto;
}
