:import {
  -st-from: "./colors.st.css";
  -st-named: dark, navBg, crimsonColor;
}

:import {
  -st-from: "./potato-bruce/potato-bruce.st.css";
  -st-default: PotatoWorld;
}

:vars {
  negativeRetinaSize: -100px;
  lidPositionHappy: 25px;
  lidPositionSad: 75px;
  navBarHeight: 60px;
}

.root {
  height: 100vh;
}

.potatoWorld {
  -st-extends: PotatoWorld;
}

.potatoWorld::heroBox {
  overflow: hidden;
}

.potatoWorld::hero {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin: 10px auto;
  height: 70vh;
  max-width: 80vh;
  transition: 125ms ease-in-out;
}

.potatoWorld::hero:size(small) {
  transform: scale(0.3);
}

.potatoWorld::hero:size(big) {
  transform: scale(0.7);
}

.potatoWorld::hero::eyes {
  width: 100%;
  text-align: center;
}

.potatoWorld::hero::eyes::eye {
  display: inline-block;
  margin: 0 20px;
}

/*
  HAPPY POTATO BRUCE IN PARIS
*/
.potatoWorld:mood(happy)::hero {
  background: url(../assets/potato-body.png) no-repeat center;
  background-size: cover;
}
.potatoWorld:mood(happy)::eyes::eye:first-child {
  transform: rotate(0deg);
  top: -20px;
}
.potatoWorld:mood(happy)::eyes::eye:last-child::brow {
  animation: twitch1 250ms infinite;
  transform: rotate(0deg);
  top: -20px;
}
.potatoWorld:mood(happy)::eyes::eye::lid {
  top: calc(value(negativeRetinaSize) + value(lidPositionHappy));
}
.potatoWorld:mood(happy)::mouth::upperLip {
  display: none;
}
.potatoWorld:mood(happy)::mouth::lowerLip {
  height: 180px;
  width: 200px;
  margin: 0 auto;
  border-top-left-radius: 0;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  overflow: hidden;
  position: relative;
}
.potatoWorld:mood(happy)::mouth::lowerLip::after {
  content: ' ';
  height: 50px;
  width: 100px;
  margin: 0 auto;
  background: value(crimsonColor);
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100px;
  border-top-left-radius: 50%;
}

/*
  BIG POTATO BRUCE IN JAPAN
*/
.potatoWorld:mood(glasses)::eyes {
  position: relative;
  background: url(../assets/glasses.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.potatoWorld:mood(glasses)::eyes::eye::socket {
  box-shadow: none;
}
.potatoWorld:mood(glasses)::eyes::eye::pupil::after {
  display: none;
}
.potatoWorld::hero:size(big):in(japan) {}

/*
  SAD POTATO AT THE DMV
*/
.potatoWorld:mood(sad)::eyes::eye::lid {
  top: calc(value(negativeRetinaSize) + value(lidPositionSad));
}
.potatoWorld:mood(sad)::eyes::eye::pupil {
  line-height: calc(value(lidPositionSad) * 2);
  font-size: 50px!important;
}
.potatoWorld:mood(sad)::eyes::eye:first-child {
  transform: rotate(-15deg);
}
.potatoWorld:mood(sad)::eyes::eye:first-child::brow {
  animation: twitch1 250ms infinite;
  transform: rotate(0deg);
  top: -20px;
}
.potatoWorld:mood(sad)::eyes::eye:last-child::brow {
  transform: rotate(15deg);
}

/* Backdrop Image */
.potatoWorld::backdrop {
  position: fixed;
  top: value(navBarHeight);
  left: 0;
  width: 100%;
  height: calc(100% - value(navBarHeight));
}
.potatoWorld::backdrop:location(paris) {
  background: url(../assets/paris.jpg) no-repeat center;
}
.potatoWorld::backdrop:location(wixhq) {
  background: url(../assets/wixhq.webp) no-repeat center;
}
.potatoWorld::backdrop:location(japan) {
  background: url(../assets/japan.jpg) no-repeat center;
  background-size: cover;
}

/* App Navigation */
.nav {
  background-color: value(navBg);
  padding: 5px 0;
  height: value(navBarHeight);
  line-height: value(navBarHeight);
  text-align: center;
}
.nav button {
  font-size: 30px;
  outline: 0;
}

/* Animations */
@keyframes twitch1 {
  5% {
    left: -1px;
  }
  50% {
    left: 4px;
  }
  95% {
    left: 0;
  }
}

@keyframes potatoBoogie {
  0% {
    transform: scale(0.4);
  }
  45% {
    transform: scale(0.5);
  }
  100% {
    transform: scale(0.4);
  }
}
