:import {
  -st-from: "./colors.st.css";
  -st-named: color4, color5;
}

:import {
  -st-from: "./eye-box/index.st.css";
  -st-default: Eyes;
}

:import {
  -st-from: "./nose/index.st.css";
  -st-default: Nose;
}

:import {
  -st-from: "./eye-box/eye/index.st.css";
  -st-named: retinaSize;
}

.root {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.body {
  position: relative;
  flex: 1;
  overflow: hidden;
  margin-top: 20px;
  height: 700px;
  max-width: 800px;
  border-bottom-left-radius: 80% 100%;
  border-bottom-right-radius: 80% 100%;
  border-top-left-radius: 100% 100%;
  border-top-right-radius: 100% 100%;
  border: 5px solid #000;
}

.eyeBox {
  -st-extends: Eyes;
  margin-top: 170px;
  display: inline-block;
  width: 100%;
}

.noseBox {
  -st-extends: Nose;
}

.noseBox::nose {
  transition: all 125ms ease-in-out;
}

.noseBox::nose:mood(happy) {
  border-bottom-left-radius: 80% 210%;
  border-bottom-right-radius: 80% 210%;
  border-top-left-radius: 100% 100%;
  border-top-right-radius: 100% 100%;
  background-color: value(color4);
}

.noseBox::nose:mood(sad) {
  border-bottom-left-radius: 80% 100%;
  border-bottom-right-radius: 80% 100%;
  border-top-left-radius: 100% 100%;
  border-top-right-radius: 100% 100%;
  background-color: value(color5);
}

.mouthBox {
  margin-top: 50px;  
}
