:import {
  -st-from: "./colors.st.css";
  -st-named: color1, color2, color3, color4, color5, dark, bodyColor;
}

:import {
  -st-from: "./eye-box/index.st.css";
  -st-default: Eyes;
}

:import {
  -st-from: "./eye-box/eye/index.st.css";
  -st-named: retinaSize;
}

:import {
  -st-from: "./mouth/index.st.css";
  -st-default: Mouth;
}

.root {
  -st-states: mood( enum(happy, sad, glasses) );  
  overflow: hidden;
}

.hero {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background: url(../media/potato-body.png) no-repeat center;
  background-size: cover;
  position: relative;
  margin: 10px auto;
  overflow: hidden;
  height: 70vh;
  max-width: 80vh;
}

@keyframes potatoBoogie {
  0% {
    transform: scale(0.4);
  }
  45% {
    transform: scale(0.5);
  }
  100% {
    transform: scale(0.4);
  }
}

/* eye-box */
.eyeBox {
  -st-extends: Eyes;
  width: 100%;
}

.eyeBox::eye::brow {
  height: 1px;
  border: 10px solid value(dark);
  border-top: 1px dashed value(bodyColor);
  border-radius: 20%;
  background-color: value(color2);
  transition: all 125ms ease-in-out;
}

/* mouth */
.mouth {
  -st-extends: Mouth;
  margin-top: 50px;
  width: 100%;
}

