:import {
  -st-from: "./eye-box/index.st.css";
  -st-default: Eyes;
}

:import {
  -st-from: "./nose/index.st.css";
  -st-default: Nose;
}

:import {
  -st-from: "./eye-box/eye/index.st.css";
  -st-named: retinaSize;
}

:vars {
  bruceBodyColor: rgb(228, 228, 228);
}

.root {
  display: flex;
  align-items: center;
  justify-content: center;
  /* border: 1px solid blue; */
}


.body {
  position: relative;
  flex: 1;

  height: 700px;
  margin: 0 100px;
  border-bottom-left-radius: 80% 100%;
  border-bottom-right-radius: 80% 100%;
  border-top-left-radius: 100% 100%;
  border-top-right-radius: 100% 100%;
  /* background-color: value(bruceBodyColor); */
  border: 5px solid #000;
  padding: 60px 0 0;
}

.eyeBox {
  -st-extends: Eyes;
  display: inline-block;
  width: 100%;
  /* border: 1px solid red; */
}

.noseBox {
  -st-extends: Nose;
  /* border: 1px solid red; */
}

.noseBox::nose {
  transition: all 125ms ease-in-out;
}

.noseBox::nose:mood(happy) {
  border-bottom-left-radius: 80% 210%;
  border-bottom-right-radius: 80% 210%;
  border-top-left-radius: 100% 100%;
  border-top-right-radius: 100% 100%;
  background-color: magenta;
}

.noseBox::nose:mood(sad) {
  border-bottom-left-radius: 80% 100%;
  border-bottom-right-radius: 80% 100%;
  border-top-left-radius: 100% 100%;
  border-top-right-radius: 100% 100%;
  background-color: blueviolet;
  
}
