:vars {
  retinaSize: 100px;
  negativeRetinaSize: -100px;
}

.root {}

.brow {
  top: 0;
  position: relative;
  height: 1px;
  border: 10px solid #000;
  border-top: 1px dashed rgb(228, 228, 228);
  border-radius: 20%;
  background-color: rgba(0, 0, 0, 0.8);
  transition: all 125ms ease-in-out;
}

.socket {
  position: relative;
  border-radius: 50%;
  width: value(retinaSize);
  height: value(retinaSize);
  line-height: value(retinaSize);
  overflow: hidden;
  background: rgba(255, 255, 255, 1);
}

.pupil {
  color: #000;
}

.pupil::after {
  content: '\2022'; /* 👁🥔💰🍌🐸🤘🔥 */
  display: block;
  text-align: center;
  transition: all 325ms ease-in;
  font-size: 150px;
}

.lid {
  position: absolute;
  transition: all 125ms ease-in-out;  
  top: value(negativeRetinaSize);
  width: value(retinaSize);
  height: value(retinaSize);
}
