:vars {
  negativeRetinaSize: -100px;
  lidPositionHappy: 25px;
  lidPositionSad: 75px;
  navBarHeight: 60px;
}

.root {
  -st-states: mood( enum(happy, sad, glasses) ),
              size( enum(small, big) ),
              backdrop( enum(paris, wixhq, perspective) );

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: value(navBarHeight);
  height: value(navBarHeight);
  text-align: center;
  z-index: 1000;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
  display: flex;
}
.root::nav {
  width: 100%;
  display: flex;
}
.demoTitle {
  margin: 0;
  font-size: 14px;
  text-align: center;
  letter-spacing: 0.1rem;
  line-height: value(navBarHeight);
  font-weight: 100;
  padding: 0 2rem;
  text-transform: uppercase;
}

button {
  text-transform: uppercase;
  height: value(navBarHeight);
  line-height: calc(value(navBarHeight) / 2);
  border: none;
  background: none;
  font-size: 14px;
  outline: 0;
  cursor: pointer;
  flex: 1 0;
  transition: all 125ms ease-in;
  font-size: 1.5rem;
}

.smallSize {
  font-size: 1rem;
}

.buttonGroup {
  flex: 1;
  display: flex;
}
.nav button:hover {
  background: rgba(184, 255, 189, 0.8);
}
.buttonGroup:hover {
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.25);
}

.backdrop {}
.size {}
.isHappy {}
.isSad {}
.isGlasses{}
.inParis{}
.inWix {}
.largeSize {}
.smallSize {}
.resetAllButton {}

.active {
  /* background: rgba(250, 0, 0, 0.5) ; */
  box-shadow: inset 0 -5px 0 0px rgba(255, 0, 0, 0.8);
}
.inactive {
  box-shadow: inset 0 0 0 0 rgba(0, 0, 0, 0);
}
.root:mood(happy)::nav::resetAllButton,
.root:mood(sad)::nav::resetAllButton,
.root:mood(glasses)::nav::resetAllButton {
  -st-mixin: inactive;
}
.root::nav::resetAllButton {
  -st-mixin: active;
}

.root:mood(happy)::nav::isHappy,
.root:mood(sad)::nav::isSad,
.root:mood(glasses)::nav::isGlasses,
.root:backdrop(paris)::nav::inParis,
.root:backdrop(wixhq)::nav::inWix,
.root:size(small)::nav::smallSize,
.root:size(big)::nav::largeSize {
  -st-mixin: active;
}
