:vars {
  navBarHeight: 60px;
}

.root {
  -st-states: mood(enum(happy, shy, dealWithIt)),
    size(enum(small, big)),
    backdrop(enum(amsterdam, paris, wixhq));

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: value(navBarHeight);
  height: value(navBarHeight);
  text-align: center;
  z-index: 1000;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
  display: flex;
}

.nav {
  width: 100%;
  display: flex;
}

.navButton {
  user-select: none;
  text-transform: uppercase;
  height: value(navBarHeight);
  line-height: calc(value(navBarHeight) / 2);
  border: none;
  background: none;
  font-size: 14px;
  outline: 0;
  cursor: pointer;
  flex: 1 0;
  transition: all 125ms ease-in;
  font-size: 1.5rem;
}

.buttonGroup {
  flex: 1;
  display: flex;
}

.navButton:hover {
  background: rgba(184, 255, 189, 0.8);
}

.buttonGroup:hover {
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.25);
}

.resetAllButton {
  -st-extends: navButton;
}

.isHappy {
  -st-extends: navButton;
}

.isShy {
  -st-extends: navButton;
}

.isGlasses {
  -st-extends: navButton;
}

.smallSize {
  -st-extends: navButton;
  font-size: 1em;
}

.largeSize {
  -st-extends: navButton;
}

.inParis {
  -st-extends: navButton;
}

.inAmsterdam {
  -st-extends: navButton;
}

.inWix {
  -st-extends: navButton;
}

.active {
  box-shadow: inset 0 -5px 0 0px rgba(255, 0, 0, 0.8);
}

.inactive {
  box-shadow: inset 0 0 0 0 rgba(0, 0, 0, 0);
}

.root:mood(happy)::resetAllButton,
.root:mood(shy)::resetAllButton,
.root:mood(dealWithIt)::resetAllButton {
  -st-mixin: inactive;
}

.root::resetAllButton {
  -st-mixin: active;
}

.root:mood(happy)::isHappy,
.root:mood(shy)::isShy,
.root:mood(dealWithIt)::isGlasses,
.root:backdrop(paris)::inParis,
.root:backdrop(amsterdam)::inAmsterdam,
.root:backdrop(wixhq)::inWix,
.root:size(small)::smallSize,
.root:size(big)::largeSize {
  -st-mixin: active;
}
